.contact_address, .contact_form {

}

.contact_address {
    margin: 32px 0;
    padding: 40px 50px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(45, 45, 45);
    color: white;
}

.contact_address p {
    margin-bottom: 32px;
}

.contact_address h3 {
    font-size: 3rem;
    position: relative;
}


.contact_address h3 img {
    position: absolute;
    top: 40%;
    right: 0;
    height: 50px;
    transform: translate(0, -50%);
}

.filterwhite {
    filter: invert(1);
}

.filtegreen {
    transform-origin: top center;
    filter: invert(56%) sepia(100%) saturate(494%) hue-rotate(87deg) brightness(97%) contrast(95%);
    animation: rotate01 0.5s forwards;
}

@keyframes rotate01 {
    0% {
        transform: scale(0.1) translate(0, -50%);
    }
    100% {
        transform: scale(1) translate(0, -50%);
    }
}

.contact_form {
    margin: 32px 0;
    padding: 40px 50px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(45, 45, 45);
    color: white;
}

.form_indicate {
    position: relative;
    display: flex;
    padding: 20px;
}


.form_indicate p {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
}

.form_indicate p:nth-child(-n+3):before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.66);
    height: 10px;
    width: 100%;
    z-index: 1;
}

.form_indicate p span {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;

}

.form_indicate_curr span {
    scale: 0.8;
    background-color: #09ffe5 !important;
    box-shadow: 0 0 5px #09ffe5 ,0 0 15px #09ffe5,0 0 25px #09ffe5,0 0 35px #09ffe5;
}

.form_steps input, .form_steps textarea {
    border: none;
    padding: 24px 12px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 24px;
    font-size: 1.2rem;
}

.form_alert {
    margin-top: -20px;
    margin-bottom: 4px;
}

.form_steps {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    transition: 0.2s;
}

.form_steps .form_step {
    box-sizing: border-box;
    min-width: 100%;
    padding: 0 12.5%;
    transition: 0.2s;
}

.form_switch {
    padding: 0 12.5%;
    text-align: right;
    display: flex;
    gap: 40%;
}

.contact_form .form_switch button, .contact_form input[type="submit"] {
    padding: 16px 0;
    width: 30%;
    font-size: 1.6rem;
    border-radius: 12px;
}

.form_switch div {
    width: 30%;
}

.form_switch input {
    color: white;
    background: linear-gradient(
            45deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%
    );
    animation: app-bg-anime 2s infinite;
}


.form_switch input:disabled {
    background: #383838;
}