header {
    z-index: 999;
    position: sticky;
    margin-top: -88px;
    top: 0;
    left: 0;
    height: 88px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    padding: 0 20px;
}

header a, header label {
    font-size: 1.4rem;
    color: white;
}

.header_logo {
    opacity: 1;
}

.header_navi {
    text-align: right;
    flex-grow: 1;
    opacity: 1;
}

.header_navi ul li {
    display: inline;
    padding: 0 16px;
}

.header_lang {
    white-space: nowrap;
}

#checkbox_toggle {
    display: none;
}

.checkbox {
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: #d0d0d0;
    color: #222;
    overflow: hidden;
    padding: 0;
    transition: 0.2s;
}

.check:checked + .checkbox {
    background-color: #0a1929;
    color: #fff;
}


