.top_container {
    padding-bottom: 120px;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    perspective: 2000px;
    overflow: hidden;
}

.top_container::-webkit-scrollbar {
    display: none;
}

.top_code {
    position: absolute;
    top: 0;
    right: 5%;
    padding: 10% 0;
    color: rgba(255, 255, 255, 0.25);
    line-height: 350%;
    transform: rotateY(-20deg) translate3d(0, 0px, 500px);
    animation:0.6s top_bg linear forwards;
}

.top_code p {
    font-size: 2rem;
}

@keyframes top_bg {
    0% {  line-height: 600%;
        transform: rotateY(-20deg) translate3d(0, 0px, 2000px);
    }
    100% {  line-height: 350%;
        transform: rotateY(-20deg) translate3d(0, 0px, -10px);
    }
}

.top_view {
    position: relative;
    height: 90vh;
    width: 100%;
    background-image: url("../asset/Low Poly Colorful Background Preview.jpg");
    background-attachment: fixed;
    background-size: 60%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: app-bg-anime 2s infinite;
}


.top_title {
    font-size: 5.5rem;
}

.top_subt {
    font-size: 3rem;
    text-align: left;
}

.top_navi {
    padding: 0 15% 0;
}

.top_navi ul li {
    padding: 20px 0;
    font-size: 4rem;
    line-height: 130%;
    color: #222;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

