.App {
    position: relative;
    background-color: #222;
}

main {
    min-height: 100vh;
}

@keyframes app-bg-anime {
    0% {
        filter: hue-rotate(360deg);
        background-position: left center;

    }
    100% {
        filter: hue-rotate(0deg);
        background-position:  left center;

    }

}



