@import url('https://fonts.googleapis.com/css2?family=Basic&family=Gruppo&display=swap');

/*--- Reset css ------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

a {
    text-decoration: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--- position ------------------------------------------------------------------------------*/
.gridcenter {
    display: grid;
    justify-content: center;
    align-content: center;
}

.absolutecenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invisible {
    display: none;
}

/*--- text ------------------------------------------------------------------------------*/
.Basic {
    font-family: 'Basic', sans-serif;
}

.Gruppo {
    font-family: 'Gruppo', sans-serif;
}


/*--- sub pages------------------------------------------------------------------------------*/
.sub_container {
    padding: 100px 012% 0;
    color: white;
}

.sub_container h2 {
    font-size: 4rem;
    line-height: 130%;
    color: #222;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/*--- ------------------------------------------------------------------------------*/


/*--- ------------------------------------------------------------------------------*/


/*--- ------------------------------------------------------------------------------*/
